body {
	font-family: 'Lato', sans-serif;
	background-color: #F9F9F9;
}

#error{
	margin-top: 200px;
	text-align: center;
}

h2{
	font-size: 40px;
	font-weight: 900;
	text-align: center;
	color: 
}

p{
	text-align: center;
	font-weight: 700;
}

img{
	margin-bottom: 20px;
	display:block;
	margin:auto;
	margin-bottom: 20px;
}

a{
	color: white;
	font-size: 12px;
	background-color: #3597EC;
	border-radius: 100px;
	padding: 5px 30px 5px 30px;
	box-shadow: 0 0px 8px 0 rgba(64, 129, 236, 0.6)

}

